<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Achievements</title>
  <link rel="stylesheet" href="../styles/achive.css">
</head>
<body>


  <div class="container">
    <div class="content">
      <section id="section1" class="card-item">
        <h2>Progress</h2>
        <div class="progress-card">
            <div class="progress-bar">
              <div class="progress" id="total-completed">
                <div class="progress-label">Total Completed</div>
                <div class="progress-value">0 / 69</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="nitro-type-gold">
                <div class="progress-label">Nitro Type Gold</div>
                <div class="progress-value">0 / 4</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="savings-earnings">
                <div class="progress-label">Savings & Earnings</div>
                <div class="progress-value">0 / 5</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="hey-big-spender">
                <div class="progress-label">Hey Big Spender</div>
                <div class="progress-value">0 / 8</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="king-of-the-race">
                <div class="progress-label">King of the Race</div>
                <div class="progress-value">0 / 7</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="endurance-racing">
                <div class="progress-label">Endurance Racing</div>
                <div class="progress-value">0 / 7</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="cruisin-back">
                <div class="progress-label">Cruisin' Back</div>
                <div class="progress-value">0 / 4</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="winning">
                <div class="progress-label">Winning</div>
                <div class="progress-value">0 / 9</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="nitro-addiction">
                <div class="progress-label">Nitro Addiction</div>
                <div class="progress-value">0 / 7</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="long-hauling">
                <div class="progress-label">Long Hauling</div>
                <div class="progress-value">0 / 11</div>
                <div class="progress-indicator"></div>
              </div>
              <div class="progress" id="hittin-the-track">
                <div class="progress-label">Hittin' the Track</div>
                <div class="progress-value">0 / 7</div>
                <div class="progress-indicator"></div>
              </div>
            </div>
          </div>
          
      </section>
      <section id="section2" class="card-item">
        <h2>Nitro Type Gold</h2>
        <p>This is the content of section 2.</p>
      </section>
      <section id="section3" class="card-item">
        <h2>Section 3</h2>
        <p>This is the content of section 3.</p>
      </section>
      <section id="section4" class="card-item">
        <h2>Section 4</h2>
        <p>This is the content of section 4.</p>
      </section>
    </div>
  </div>

  <script src="../scripts/achive.js"></script>
</body>
</html>
