<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/lobby.css">
</head>
<body>
    <input type="text" id="userName" placeholder="Enter your name">
    <button onclick="joinLobby()">Join Lobby</button>
    <div id="contain">
        
    </div>
    <div id="user-joining" style="border: 1px solid black; width: 40%; height: 400px; position: relative; left: 30%; top: 150px;"></div>
</body>
    <!-- <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script> -->
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script src="../scripts/lobby.js"></script>
</html>