body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    /* background-color: #f8f8f8; */
    background: url(../images/bg-tires.png), linear-gradient(130deg, #9498ab 0%, #2E3141 20%, #93959d 20%, #303343 25%, #2E3141 25%, #2E3141 27%, #303343 27%, #303343 50%, #2E3141 50%, #2E3141 85%, #303343 85%, #9294a2 90%, #2E3141 90%)
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.user-section {
    display: flex;
}

.login-btn,
.signup-btn {
    margin-right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.main {
    padding: 20px;
}

.hero-section {
    
    width: 65%;
    justify-content: center;
    text-align: right;
    padding: 100px 30px 165px 30px; 
    /* background-color: #333; */
    background: url(../images/race-track.gif) ;

    color: rgb(255, 213, 213);
    border-radius: 10px;
    margin-top: 20px;
    /* margin-left: 120px; */
    /* margin-right:120px; */
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.start-btn {
    /* padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out; */
    background-color: rgb(214, 47, 58);
    color: aliceblue;
    border: none;
    border-radius: 3px;
    /* display: flex; */
    font-size: larger;
    font-weight: 600;
    align-items: center;
    padding: 0.4rem 1.4rem;
    box-shadow: 0px 5px 0px rgb(173, 37, 46);
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
}

.start-btn:hover {
    background-color: rgb(185, 42, 51);
  box-shadow: 0px -3px 0px rgb(173, 37, 46);
}
h1{
    text-align: center;

}
.features-section {
    margin: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 50px;
    gap: 10px;
}
.image{
   width: 40%;
   justify-content: left;
   align-self: last baseline;
}
.feature {
    text-align: center;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 20px;
    background-color: white;
    background: url(../images/racecar.png);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
} */

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
   
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 10px;
    }
    .container{
        /* width: 100%; */
        padding: 0%;

    }
    .hero-section{
        margin: 0%;
        width: 100%;
        padding: 100px 30px 10px 30px;
        /* opacity: 0.; */
        border-radius: 0%;
        background: url(../images/racing_track.gif);
    }
    .user-section {
        margin-top: 10px;
    }

    .hero-section h1 {
        font-size: 2.5em;
    }

    .hero-section p {
        font-size: 1em;
    }

    .start-btn {
        padding: 10px 20px;
        font-size: 1em;
    }

    .features-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature {
        margin-bottom: 20px;
    }
}
