
body{
    display: flex;
    justify-content: center;
    background-color: rgb(46,49,65);
}

#accordionPanelsStayOpenExample{
    width: 75%;
    margin: auto;
}
.accordion-item {
     background-color: #3B3D4C;
     margin-top: 20px;
     border: none;
     border-radius: 20px;
}
.accordion-header{
    background-color: #232531;
    border-radius: 20px;
}
.accordion-button{
    font-weight: 400;
    color: white;
    font-size: 23px;
    font-family: sans-serif;
    padding-left: 40px;
    padding: 27px;
    background-color: #232531;
    border: none;
}
.accordion-button:hover{
    /* background-color: #272935; */
}
.accordion-body strong{
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: sans-serif;
}

.signPlus{
    font-size: 20px;
    color: RGB(26, 32, 44);
    font-weight:bolder;
    padding-right: 20px;
}
.mainContainer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.accordion-body-img{
    width: 100%;
    border-radius: 10px;
}

.accordion-body-img-container{
    width: 250px;
    height: 200px;
}
#correctwaysittingImg{
    width: 85%;
    /* border: 1px solid red; */
}
#keyboardSchemeImg{
    width: 85%;
}
#fingerMotionimg{

    width: 90%;
}



@media (max-width:950px) {
    .mainContainer{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    } 
    .accordion-body-img{
        width: 100%;
    }
}