.learningTool{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-between;
    width:70%;
  
    justify-items: center;
    /* justify-content: center; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.toolHeading h2{
    font-weight: 400;
    color: rgba(26, 32, 44, 1);
    font-size: 25px;
    font-family: sans-serif;
    padding-left: 40px;
}

.signPlus{
    font-size: 20px;
    color: RGB(26, 32, 44);
    font-weight:bolder;
    padding-right: 20px;
}