body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    background: url(../images/bg-tires.png), linear-gradient(130deg, #767882 0%, #2E3141 20%, #56585d 20%, #303343 25%, #2E3141 25%, #2E3141 27%, #303343 27%, #303343 50%, #2E3141 50%, #2E3141 85%, #303343 85%, #5f6068 90%, #2E3141 90%)
}

.start {
    margin-bottom: 20px;
    background-color: #051a30;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.start:hover {
    background-color: #f0496d;
}

.container {
    max-width: 600px; 
    width: 100%;
}
#messagebox{
   
   color:  #3deb2d;
   text-align: center;
   margin-top: 2px;
   background-color: #293347;
   font-style: italic;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

#messagebox {
    width: 40%;
    margin-top: 20px;
    height: 50px; 
    padding: 15px;
    border: 1px solid #f76363;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#messageAdd {
    background-color:#051a30;
    color: #fff;
    border: 50%;
    border-radius: 50px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#messageAdd:hover {
    background-color: #f0496d;
}
/* #user-joining{
    border: 2px solid rgb(243, 80, 80);
    height: 300px;
    width: 50%;
    border-radius: 2%;
    text-align: center;
    padding-top: 20px; */
    /* background: url(../images/bg-tires.png), linear-gradient(130deg, #767882 0%, #2E3141 20%, #56585d 20%, #303343 25%, #2E3141 25%, #2E3141 27%, #303343 27%, #303343 50%, #2E3141 50%, #2E3141 85%, #303343 85%, #5f6068 90%, #2E3141 90%) */

/* } */
#user-joining {
    border: 10px solid rgb(81, 48, 141);
    height: 300px;
    width: 50%;
    border-radius: 2%;
    text-align: center;
    padding-top: 20px;
    overflow-y: auto;
    color: orange;
    font-style: italic;
    font-weight: 200;
    
}


@media (max-width: 600px) {
    #messagebox {
        width: 90%; 
    }
}
