
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(../images/bg-tires.png), linear-gradient(130deg, #9498ab 0%, #2E3141 20%, #93959d 20%, #303343 25%, #2E3141 25%, #2E3141 27%, #303343 27%, #303343 50%, #2E3141 50%, #2E3141 85%, #303343 85%, #9294a2 90%, #2E3141 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; 
    font-style: italic;
    color: rgb(240, 55, 55);
    font-weight: bolder;
    
}

input[type="text"], button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f5ebeb;
    color: #352020;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    background-color: #ddd;
}
#user-joining {
    border: 1px solid black;
    width: 40%;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    background: url(../images/bg-tires.png), linear-gradient(130deg, #9498ab 0%, #2E3141 20%, #93959d 20%, #303343 25%, #2E3141 25%, #2E3141 27%, #303343 27%, #303343 50%, #2E3141 50%, #2E3141 85%, #303343 85%, #9294a2 90%, #2E3141 90%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-weight: 200;
}


