@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* display: flex; */
}
body{
  padding: 0 10px;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  background: url(../images/bg-tires.png), linear-gradient(130deg, #767882 0%, #2E3141 20%, #56585d 20%, #303343 25%, #2E3141 25%, #2E3141 27%, #303343 27%, #303343 50%, #2E3141 50%, #2E3141 85%, #303343 85%, #5f6068 90%, #2E3141 90%)
}
::selection{
  color: #fff;
  background: #17A2B8;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.main-heading {
  margin: 1.6rem 0;
  font-size: 2.6rem;
  font-weight: 900;
  letter-spacing: 0.4rem;
  text-align: center;
  transform: skewX(-16deg);
  cursor: pointer;
  color: white;
}

.main-heading span {
  padding: 0.2rem 0.1rem 0.2rem 0.4rem;
  background-color: rgb(214, 47, 58);
  transform: skewX(-20deg);
}

.main-heading span:nth-child(2) {
  padding: 0.2rem;
  margin-left: 0.2rem;
}

button {
  color: #fff;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.race-now {
  background-color: rgb(214, 47, 58);
  border: none;
  border-radius: 3px;
  display: flex;
  font-weight: 600;
  align-items: center;
  padding: 0.4rem 1.4rem;
  box-shadow: 0px 5px 0px rgb(173, 37, 46);
  cursor: pointer;
  transition: all 0.2s;
}

.race-now:hover {
  background-color: rgb(185, 42, 51);
  box-shadow: 0px -3px 0px rgb(173, 37, 46);
}

.race-now span {
  font-weight: 700;
  letter-spacing: 0.4rem;
}

.inner-navbar {
  display: flex;
  flex-wrap: wrap;
}

.inner-navbar button {
  background-color: rgb(60, 64, 85);
  border: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 0.8rem 1.4rem;
  width: 8rem;
}

.inner-navbar button:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-selected {
  background: linear-gradient(
    0deg,
    rgb(61, 61, 61) 0%,
    rgb(44, 44, 44) 50%,
    rgb(34, 34, 34) 100%
  );
  color: rgba(255, 255, 255, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto; 
  padding: 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.wrapper .input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box{
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
.content-box .typing-text{
  overflow: hidden;
  max-height: 256px;
}
.typing-text::-webkit-scrollbar{
  width: 0;
}
.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: #56964f;
}
.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active{
  color: #17A2B8;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }
}
.content-box .content{
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
}

.content .result-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}
.result-details li{
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p{
  font-size: 19px;
}
.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
@media (max-width: 745px) {
  .wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding: 20px 0;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
  .content button{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details{
    width: 100%;
  }
  .result-details li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-details li p, 
  .result-details li span{
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapper .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
  }
  .result-details li{
    margin-bottom: 10px;
  }
  .content button{
    margin-top: 10px;
  }
}